body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 38px;
}
.name-collor{
    color: rgb(238, 23, 41);
}
.haif-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.haif-width img{
width: 90%;
margin-left: 10%;
}